{% extends "base.html" %}

{% block content %}
    <h1>New Habit</h1>
    
    <!-- Flash Messages -->
    {% include '_messages.html' %}
    
    <form method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ habit.name if habit }}" required>
        </div>

        
        <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <select class="form-select" id="type" name="type" required>
                
                <option value="positive" {% if habit and habit.type == 'positive' %}selected{% endif %}>
                    Positive
                </option>
                <option value="negative" {% if habit and habit.type == 'negative' %}selected{% endif %}>
                    Negative
                </option>
                
            </select>
        </div>    

        <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}
