{% extends "base.html" %}

{% block content %}
    <h1>Crear Nuevo Hábito</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre del hábito</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        
        <div class="mb-3">
            <label for="type" class="form-label">Tipo de hábito</label>
            <select class="form-select" id="type" name="type" required>
                <option value="positive">Positivo</option>
                <option value="negative">Negativo</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
{% endblock %}